<%= render partial: "shared/nav" %>
<div class="container">
  <div class="row col-md-6 middle">
    <div class="panel-body">
      <% @users.each do |user| %>
        <div class="my-restaurant text-center">
          <%= image_tag "http://via.placeholder.com/100x100", width:"60px" %>
          <%= user.name %>
          <%= render partial: "shared/follow", locals: {user: user} %>
        </div>
      <% end %>
    </div>
  </div>  
</div>    