<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Index", restaurants_path %></li>
  <li role="presentation"><%= link_to "Recent Activities", feeds_restaurants_path %></li>
  <li role="presentation"><%= link_to "Foodie", users_path %></li>
</ul>

