<div class="container">
  <div class="row">
    <h1><%= @restaurant.name %>'s Dashboard</h1>
    <hr>
    <ul>
      <li>Has <%= @restaurant.comments.count %> comments</li>
      <li>Average costs $XXX</li>
      <li>XXX people bookmark this</li>
    </ul>
  </div>
</div>